<h1>VmOperation#index</h1>

<table>
  <tr>
    <th>Hostname</th>
  </tr>

<% @virtual_machines[:vms]["listvirtualmachinesresponse"]["virtualmachine"].each do |vm| %>
  <tr>
    <td><%= vm["displayname"] %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New VM', vm_operations_path %>

