<h1>UserProperty#index</h1>

<table>
  <tr>
    <th>email</th>
    <th>isAdmin?</th>
  </tr>

<% @users.each_with_index do |user, i| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.admin? %></td>
  </tr>
<% end %>
</table>

